body{
    font-family: Arial, sans-serif;
    margin:0;
}

header{
    background: darkblue;
    color:white;
    text-align:center;
    padding:15px;
}

nav{
    background:#333;
    text-align:center;
    padding:10px;
}

nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
}

.content{
    padding:20px;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:20px;
}

.card{
    background:lightblue;
    padding:30px;
    width:100px;
    text-align:center;
    border-radius:10px;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:10px;
}
