body{
font-family: Arial;
margin:0;
text-align:center;
}

header{
background:darkblue;
color:white;
padding:20px;
}

nav{
background:#333;
padding:10px;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
}

.about{
padding:20px;
}

.skills{
display:flex;
justify-content:center;
gap:20px;
padding:20px;
}

.skill-box{
background:lightblue;
padding:20px;
border-radius:10px;
width:120px;
}

.contact{
padding:20px;
}

footer{
background:#333;
color:white;
padding:10px;
}
